$ever-green: #2dbe60;
$ever-grey: #dedede;

.video-bg {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 1150px;
  height: 720px;
  margin: 0 auto;
}

.splash-video {
  position: absolute;
  width: 1150px;
  height: auto;
  top: 5%;
}

.splash-video video {
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.form-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-line {
  width:100%;
  top:0px;
  left: 0px;
  background: $ever-green;
  height: 5px;
}


.form-title {
  margin: 20px auto;
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.auth-logo {
  opacity: 0.7;
  padding-top: 100px;
  width: 100px;
  height: 100px;
}


.auth-form {
  position: relative;
  align-items: center;
  padding: 15px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  border: 1px solid $ever-grey;
  text-align: center;
}

.auth-form input, .demo-login-button{
  border:none;
  margin-top: 30px;
  border-radius: 5px;
  width: 80%;
  padding: 7.5px;
  font-size: 18px;
  font-size: 15px;
}



.alt-path-link {
  text-align: center;
  margin-top: 30px;
  color: black;
}

.alt-path-link:hover {
  color: $ever-green;
}

.error-list {
  list-style: none;
  color: red;
}

.error-list li{
  padding-left: 0px;
}
