.forever-modal {
  position: relative;
  width: 456px;
  height: 100%;
  border: none;
  outline: none;

}

.forever-modal-overlay {
  position: absolute;
  background: white;
  left: 73px;
  height: 100%;
  width: 100%;
}
