.forever-modal {
  position: relative;
  margin-left:73px;
  width: 456px;
  height: 100%;
  border: none;
  outline: none;
}

.forever-modal-overlay {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
}

.notebook-index-transition-appear {
  left:-600px;
}

.notebook-index-transition-appear.notebook-index-transition-appear-active {
  left:0px;
  transition: left 500ms;
}
