$ever-green: #2dbe60;
$ever-grey: #dedede;


.app-container {
  height:100%;
  display: flex;
  justify-content: flex-start;
  background: white;
}
.nav-bar {
  position: relative;
  height:100%;
  min-width: 73px;
  background: #f3f3f3;
  list-style: none;
  text-align: center;
  border-right: 1px solid rgba(230,230,230,1);
}

.nav-bar ul {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-bar li {
  padding: 15px 0px;
}

.nav-bar-button {
  position: relative;
}
.pop-up-text {
  display: none;
  position: absolute;
  left: 68px;
  top: -15px;
  background: rgba(0,0,0,0.7);
  padding: 3.5px;
  border-radius: 5px;
  color: white;
}

.nav-bar-button:hover .pop-up-text, .nav-bar-button{
  display: block;
  cursor:pointer;
}
