$ever-green: #2dbe60;
$ever-grey: #dedede;

.form-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  margin-right:20px
}


.form-parent-container .button {
  margin: 0 10px;
  padding: 5px 10px;
}

.form {
  height:100%;
}

.rich-text-nav .button {
  margin:0px;
  background-color: white;
  color: black;
  font-size: 14px;
}

.rich-text-nav span:hover {
  color: $ever-green;
}

.cancel-back {
  display: flex;
  justify-content: flex-end;
  padding: 25px 0px 0px 10px;
  padding-bottom: 0px;
}

.rich-text-nav {
  display: flex;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid $ever-grey;
}

.title-and-content {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 140px);
  padding: 20px;
}

.new-title{
  border:none;
  outline: none;
  width:100%;
  color: $ever-green;
  font-size: 30px;
  padding:5px;
  margin:0px;
}



.new-title::-webkit-input-placeholder  { /* Chrome */
  color: $ever-green;
}

.new-title:focus {
  border: none;
  padding: 5px;
}

.draft-editor div{
  cursor: text;
  margin-bottom: 0;
}

.draft-editor .public-DraftEditorPlaceholder-root {
  position: absolute;
  margin-left: 10px;
  color: grey;
}

.draft-editor .public-DraftEditor-content{
  margin-left: 6px;
  margin-right: 6px;
  line-height: 1.3;

}

.rich-text-nav button {
  color: black;
  background: white;
}

.editor-enter {
  opacity: 0.01;
}

.editor-enter.editor-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.editor-leave {
  opacity: 1;
}

.editor-leave.editor-leave-active {
  opacity: 0.01;
  transition: opacity 5000ms ease-in;
}
