$ever-green: #2dbe60;
$ever-grey: #dedede;

.index-section {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 450px;
  max-width: 450px;
  border-right: 1px solid lightgrey;
  height:100%;
  box-shadow: 0px 0px 2px black;
}

.index-header{
  font-size: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background: #393d41;
  box-shadow: 0px 2px 2px black;
  width: 431px;
  margin-bottom: 15px;
}

.notes-count {
  margin: 0px 15px;
  font-size:14px;
  color:grey;
}

.index-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.index-item i {
  padding-left: 10px;
}

.tag-item {
  font-size: 12px;
  margin-left: 38px;
  display: inline-block;
  width: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 2.5px 5px 2.5px 5px;
  margin-bottom: 5px;

}

.tag-item h3 {
  padding-right: 5px;
}

.tag-item .fa-trash{
  font-size: 13px;
  display: none;
  align-self: center;
}

.tag-item:hover{
  background: $ever-green;
  color: white;
  cursor: pointer;
}

.tag-item:hover .fa-trash {
  display: block;
}

.tag-item div {
  display:flex;
  justify-content: space-between;
}

.add-notebook {
  color: white;
  margin-right: 10px;
}

.add-notebook:hover {
  color: $ever-green;
}

.index-item:hover {
  background: $ever-green;
  color: white;
  cursor: pointer;
}

.notebook-item-header {
  font-weight: normal;
  padding-left:5px;
}

.notebook-del-modal{
  top:0px;
  width: 101%;
  i:last-child{
    padding-left:0px;
    margin-right:30px;
  }
}
