$ever-green: #2dbe60;
$ever-grey: #dedede;

.form-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
}

.new-form-container {
  padding-left: 170px;
  margin-rigth: 100px;
  width: 80%;
}


.form-parent-container .button {
  margin: 0 10px;
  padding: 5px 10px;
}

.form {
  height:100%;
  margin-right:60px
}

.rich-text-nav .button {
  margin:0px;
  background-color: white;
  color: black;
  font-size: 14px;
}

.rich-text-nav .button:nth-child(2) {
  padding-left: 22px;
}
.rich-text-nav span:hover {
  color: $ever-green;
}

.cancel-back {
  display: flex;
  justify-content: flex-end;
  padding: 25px 0px 0px 10px;
  padding-bottom: 0px;
  font-size: 12px;
}

.rich-text-nav {
  position: relative;
  display: flex;
  padding-bottom: 10px;
  height: 26px;
}

.rich-text-nav button {
  color: black;
  background: white;
}

.rich-text-nav span:first-child {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding-top: 5px;
  padding-right: 20px;
  border-right: 1px solid $ever-grey;
  color: grey;
  cursor: pointer;
}

.rich-text-nav span:last-child {
  padding-right: 25px;
  border-right: 1px solid $ever-grey;
}

.rich-text-nav span {
  border-radius: 0px;
}

.fa-book {
  padding-right: 5px;
}

.new-note-selector, .edit-note-selector {
  z-index: 1000;
  position: relative;
  width: 250px;
  outline: none;
  background: white;
  box-shadow: 1px 1px 1px 2px lightgrey;
  padding-bottom: 10px;
  border-radius: 1px;
  top: 120px;
}

.new-note-selector {
  left:170px;
}

.edit-note-selector {
  left: 445px;
}

.notebook-selector-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.notebook-selector-list{
  border-bottom: 1px solid $ever-grey;
  padding: 10px;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notebook-selector-list:first-child {
  font-variant: small-caps;
  color: grey;
}

.notebook-selector-list:first-child:hover {
  color: grey;
  cursor: default;
}

.notebook-selector-list:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.notebook-selector-list:hover {
  color: $ever-green;
  cursor: pointer;
}

.title-and-content {
  border-top: 1px solid $ever-grey;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 140px);
  padding: 20px;
  padding-top: 5px;
}

.new-title{
  border:none;
  outline: none;
  width:100%;
  height: auto;
  color: $ever-green;
  font-size: 30px;
  padding:5px;
  margin:0px;
  resize: vertical;
}



.new-title::-webkit-input-placeholder  { /* Chrome */
  color: $ever-green;
}

.new-title:focus {
  border: none;
  padding: 5px;
}

.draft-editor div{
  cursor: text;
  margin-bottom: 0;
}
// NOTEBOOK SELECTOR ANIMATIONS

.notebook-selector-transition-appear {
  max-height: 0px;
  overflow: hidden;
}

.notebook-selector-transition-appear.notebook-selector-transition-appear-active {
  max-height: 2000px;
  transition: max-height 1000ms ease-in;
}

//tags

.tags-div{
  height:5px;
  margin-left:0px;
  padding-left:20px;
  margin-bottom: 40px;
  vertical-align: bottom;
}

.tags-div li {
  float:left;
  padding-bottom: 0;
  margin-top:10px;
  margin-bottom: 10px;
}

.tags-div li:first-child{
  height: 20px;
}

.fa-tags{
  padding-top:5px;
  padding-right:10px;
  padding-left: 15px;
  color: grey;
}


.tags-div input {
  margin-left: 5px;
  font-size: 12px;
  color:white;
  width: 15px;
  transition: width, 500ms, ease-in;
  outline:none;
  border: 1px solid $ever-grey;
  border-radius: 2px;
}

.tags-div input:focus {
  width: 100px;
  color:black;
  transition: width, 500ms, ease-in;
}

.tags-div input::-webkit-input-placeholder {
  text-align: center;
}

.tags-div input:focus::-webkit-input-placeholder {
  color: white;
}

.tag-show-item {
  cursor: default;
  display: flex;
  font-size: 12px;
  margin-left: 5px;
  padding: 2.5px 5px;
  border: 1px solid $ever-grey;
  border-radius: 2px;
}

.new-tag {
  background: $ever-green;
  color: white;
}

.fa-minus-circle {
  cursor: pointer;
  display: none;
  padding-left:3px;
  padding-top:3px;
}

.tag-show-item:hover .fa-minus-circle {
  display: block;
}

//TAG LIST TRANSITION

.tags-list-transition-enter {
  opacity: 0.01;
}

.tags-list-transition-enter.tags-list-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in, max-height 800ms ease-in;
}

.tags-list-transition-leave {
  opacity: 1;
}

.tags-list-transition-leave.tags-list-transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
