/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, div, ul, form, h1, header{
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: 1;

  font-family: inherit;
  font-size: inherit;
}

/*GREY BACKGROUND*/
body {
  background: #f3f3f3;
}

/*LOGIN TEXT*/
h1 {
  position: relative;
  font-size: 35px;
  text-align: center;
  margin-top: 5%;
  position: relative;
  color: white;
  text-shadow: 1px 1px 1px black;
}
