/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $ever-green: #2dbe60;
 $ever-grey: #dedede;


body, div, ul, form, h1, h2, h3, header, nav, section, li, main, span, input, button{
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: inherit;
  list-style: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}

/*GREY BACKGROUND*/
body {
  background: white;
}

.button {
  background-color: $ever-green;
  border:none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#root {
  position: absolute;
  height:100%;
  width: 100%;
}
