.video-bg{
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.top-line {
  background: #2dbe60;
  height: 5px;
  position: relative;
}

.splash-video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}

h1 {
  position: relative;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 1px black;
}


.auth-form {
  position: relative;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  padding: 40px 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1px;
  border: 1px solid #dedede;
}

.auth-form input {
  margin-top: 30px;
  border-radius: 3px;
  width: 90%;
  padding: 7.5px;
  font-size: 18px;
}

.submit-button {
  background-color: #2dbe60;
  border:none;
  width: 95%;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
}

.alt-path-link {
  padding-top: 30px;
  color: black;
}

.alt-path-link:hover {
  color: #2dbe60;
}
